*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/*header /hero  */

header { 
height: 800px;
width: 100%;
background-image: url(./images/hero.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

nav{
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
padding: 40px;

}

nav ul {
display: flex;
align-items: center;
justify-content: space-around;
min-width: 500px;

}

nav ul li{
   list-style: none;
}

 

a {
color: white;
text-decoration: none;


}.logo{font-size: 30px;
padding: 60px;
color: rgba(255, 255, 255, 0.432);

}

/* bloc good morning sous header l id cest relative la classe est good*/


 

#good { width: 50%;
   height: 30%;
   background-color: #FFF;
position: absolute;
top: 80%;
left: 50%;
padding-top: 80px;
transform: translateX(-50%);
border-radius: 25px;
box-shadow: 0 0   9px rgb(75, 94, 99);
 }


